a{
    text-decoration: none !important;
}
*{
    color:white;
}
.hero-bg a:hover{
    color: black;
}
.hero-bg{
    background-color: #212529 !important;
    height: 50vh;
    background-size: cover;
    background-position: top;
}   
.hero-demo{
    background-color: rgb(254, 209, 60);
    border-radius: 30px;
    color: rgb(18, 66, 97);
}
.hero-register{
    background-color: white;
    border-radius: 30px;
    color: rgb(0, 88, 80);
}
.hero-subtext{
    color: rgb(224, 0, 0);
}


.why-vedic{
    background-color: #00384b;
}
.course{
    background-color: rgb(0, 82, 82);
}
.course h2{
    color:rgb(18, 66, 97);
}

.course-live{
    background-color: white;
    border-radius: 30px;
    color: rgb(0, 99, 89);
}
.course-recorded{
    background-color:rgb(0, 51, 85) ;
    border-radius: 30px;
    color: white;
}

.course a:hover{
    color:black;
}
.course-img{
    border-radius: 5rem;
}

.features{
    
    background-color: white;

}
.features h2{
    color:white;
}

.features .card {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.07);
    background-color: rgb(0, 42, 70);
    border: none;
}


.purchase h2{
    color:white;
}
.purchase p{
    color:white;
}
.fa-star{
    color: gold;
}
.purchase{
    background-color: rgb(0, 115, 230);
}

.purchase .card {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.07);
    background-color: rgb(0, 32, 65);
    
    border: none;
    border-radius: 50px;
    overflow: hidden;
}

.card-footer{
    background: transparent;
}
.price-tag{
    
    background: white;
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 15px;
    border-radius: 8px;

}

.learn h2{
    color:rgb(18, 66, 97);
}
